body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  display: "grid";
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  background-color: white;
  display: flex;
  grid-area: header;
  width: 100vw;
  min-height: 10vh;
  box-sizing: content-box;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  top: 0;
  left: 0;
  align-content: center;
  box-sizing: border-box;
}

.logo {
  flex: 1;
  align-self: center;
  font-size: 1rem;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 1rem;
}

nav {
  flex: 1;
  align-self: center;
  font-size: 1rem;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  justify-self: flex-end;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

li {
  padding: 0 20px 0 20px;
}

main {
  background-color: whitesmoke;
  grid-area: main;
  min-height: 80vh;
  margin-top: 10vh;
  box-sizing: border-box;
  padding: 10px;
}

footer {
  background-color: black;
  color: whitesmoke;
  grid-area: footer;
  min-height: 10vh;
  box-sizing: border-box;
  padding: 10px;
}
