body {
	padding: 0;
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
}

.container {
	margin: 0;
	padding: 0;
	display: "grid";
	grid-template-areas:
		"header"
		"main"
		"footer";
}

header {
	background-color: white;
	display: flex;
	grid-area: header;
	width: 100vw;
	min-height: 10vh;
	position: fixed;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
		rgba(0, 0, 0, 0.05) 0px 5px 10px;
	top: 0;
	left: 0;
	align-content: center;
	box-sizing: border-box;
}

.logo {
	flex: 1;
	align-self: center;
	font-size: 0.74rem;
	color: #333;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
	font-weight: 700;
	padding-left: 5%;
	font-family: "Caveat", cursive;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

nav {
	align-self: center;
	font-size: 0.65rem;
	color: #333;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	padding-right: 5%;
}

ul {
	display: flex;
	list-style-type: none;
	margin: 0;
}

li {
	padding: 0 5px 0 5px;
}

a {
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

a:hover {
	color: #986ce4;
}

li a {
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

li a:hover {
	color: #986ce4;
}

main {
	background-color: whitesmoke;
	grid-area: main;
	min-height: 80vh;
	margin-top: 10vh;
	box-sizing: border-box;
	padding: 10px;
}

footer {
	background-color: black;
	color: whitesmoke;
	grid-area: footer;
	min-height: 10vh;
	box-sizing: border-box;
	padding: 10px;
}

/* Medium devices (tablets, 640px and up) */
@media only screen and (min-width: 640px) {
	.logo {
		font-size: 1.5rem;
		padding-left: 10%;
	}

	nav {
		align-self: center;
		font-size: 1.2rem;
		color: #333;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 700;
		padding-right: 10%;
	}

	li {
		padding: 0 20px 0 20px;
	}
}

/* Large devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
	.logo {
		font-size: 2rem;
		padding-left: 10%;
	}

	nav {
		align-self: center;
		font-size: 1.6rem;
		color: #333;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 700;
		padding-right: 10%;
	}

	li {
		padding: 0 20px 0 20px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.logo {
		font-size: 2rem;
		padding-left: 10%;
	}

	nav {
		align-self: center;
		font-size: 1.6rem;
		color: #333;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 700;
		padding-right: 10%;
	}

	li {
		padding: 0 20px 0 20px;
	}
}
